@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#name {
	margin: 10px 0;
    font-size: 1.5rem;
    color:hsl(0, 72%, 28%);
}

#state, #h6 {
	margin: 5px 0;
    font-size: 1.0rem;
	text-transform: uppercase;
    color: hsl(0, 72%, 28%);
}

#jobs {
	font-size: 0.8rem;
	line-height: 21px;
    color: hsl(0, 72%, 28%);
}

.space {
    height: 100px
}

.card-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
	background-color: hsl(140, 38%, 86.1%);
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px hsla(0, 0%, 0%, 0.8);
	color: hsl(228.5, 20.6%, 75.3%);
	padding-top: 40px;
    padding-bottom: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
    font-family: 'Lobster', cursive;
}

.card-container .pro {
	color: hsl(251.1, 31%, 17.1%);
	background-color: hsl(43.5, 99.2%, 52%);
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container .round {
	border: 1px solid hsl(137.4, 36.9%, 63.3%);
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: hsl(137.4, 36.9%, 63.3%);
	border: 1px solid hsl(137.4, 36.9%, 63.3%);
	border-radius: 3px;
	color: hsl(251.1, 31%, 17.1%);
	font-family: 'Lobster', sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: hsl(187.4, 97.5%, 31%);
}

button.primary {
    background-color: hsl(137.4, 36.9%, 63.3%);
}

button.primary:hover {
    background-color: hsl(137, 48%, 55%);
}

.skills {
	background-color: hsl(140, 38%, 86.1%);
	text-align: left;
	padding: 15px;
	margin-top: 30px;
    color: hsl(0, 72%, 28%);
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid hsl(251.3, 29.1%, 21.6%);
	border-radius: 2px;
	display: inline-block;
	font-size: 0.75rem;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.round {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
}